.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-view {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.main-view .div {
  background: linear-gradient(180deg, rgba(37.59, 144.43, 205.06, 0.5) 0%, rgba(106.2, 147.58, 171.06, 0) 100%);
  background-color: rgba(255, 255, 255, 1);
  height: 1024px;
  position: relative;
  width: 1440px;
}

.main-view .button-instance {
  background-color: #578ec1 !important;
  border-radius: 12.22px !important;
  display: flex !important;
  gap: 16.3px !important;
  height: 87px !important;
  left: 136px !important;
  padding: 32.59px 48.89px !important;
  position: absolute !important;
  top: 550px !important;
  width: 218px !important;
}

.main-view .design-component-instance-node {
  font-family: "Inter-Bold", Helvetica !important;
  font-size: 32.6px !important;
  font-weight: 700 !important;
  line-height: 36.7px !important;
  margin-bottom: -13.15px !important;
  margin-top: -2.04px !important;
}

.main-view .p {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 25.1px;
  font-weight: 700;
  left: 80px;
  letter-spacing: 0;
  line-height: 28.3px;
  position: absolute;
  top: 457px;
  width: 394px;
}

.main-view .overlap-group {
  height: 80px;
  left: 592px;
  position: absolute;
  top: 323px;
  width: 215px;
}

.main-view .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 46px;
  width: 85px;
}

.main-view .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
  width: 183px;
}

.main-view .icon-temperature {
  height: 43px;
  left: 0;
  position: absolute;
  top: 37px;
  width: 19px;
}

.main-view .icon-location {
  height: 68px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 214px;
}

.main-view .jan-fri {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 824px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 328px;
  white-space: nowrap;
  width: 227px;
}

.main-view .sun {
  height: 412px;
  left: 552px;
  position: absolute;
  top: 431px;
  width: 430px;
}

.main-view .text-wrapper-4 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 96px;
  font-weight: 400;
  left: 496px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 76px;
  width: 541px;
}

.main-view .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 30px;
  font-weight: 600;
  left: 583px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 263px;
  white-space: nowrap;
}

.main-view .welcome-hope-you-re {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 35px;
  font-weight: 400;
  left: 35px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 129px;
  width: 395px;
}

.main-view .span {
  font-weight: 700;
}

.main-view .text-wrapper-6 {
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
}